@media print {
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 5mm 0mm 10mm 5mm;
  }
  ul,
  img {
    page-break-inside: avoid;
  }
  .gap,
  .scheme {
    page-break-before: always;
  }
  .jir,
  .scheme {
    page-break-after: always;
  }
}

.page {
  width: 976px;
  height: 1194px;
  margin: 10px auto;
  position: relative;
}
.container {
  width: 1024px;
  margin: 0 auto;
}

.image {
  margin-bottom: 20px;
}

.logo {
  width: 300px;
  display: block;
  margin: 100px auto 20px auto;
}

.jir {
  width: 80px;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.scheme {
  display: block;
  margin: 0 auto;
}

.platform {
  display: block;
  margin: 10px auto;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.6px;
}

.pGreen {
  color: rgb(53, 196, 53);
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
}

.pRed {
  color: rgb(231, 98, 21);
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}

.pBlue {
  color: rgb(107, 202, 247);
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.hBlue {
  color: rgb(26, 95, 243);
  font-weight: 700;
  font-size: 20px;
}
.hRed {
  color: rgb(231, 98, 21);
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.hGreen {
  color: rgb(53, 196, 53);
  font-weight: 700;
  font-size: 20px;
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 840px;
  margin: 0 auto 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
}

th {
  border: 1px solid gray;
  height: 50px;
  padding: 10px;
}

td {
  border: 1px solid gray;
  width: 120px;
  padding: 10px;
}

.pTd {
  margin-bottom: 10px;
}

.coating {
  text-align: left;
}

.mainTh {
  text-align: center;
  background: yellow;
  color: red;
}

.title {
  font-size: 30px;
  margin: 0 auto 30px auto;
}

.component {
  display: block;
  margin: 0 auto;
}
.component_text {
  font-size: 12px;
  width: 800px;
  margin: 5px auto 0 auto;
}

.riser {
  margin-bottom: 30px;
}

.blueTh {
  color: rgb(84, 185, 231);
}
.subTable {
  border: none;
  width: 420px;
}

.subTable th {
  border: 1px solid black;
  height: 50px;
}

.subTable td {
  border: 1px solid black;
  width: 60px;
  padding: 6px;
}

.well {
  border: none;
}
